.contact {
  // display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-left: auto;
  display: none;

  &__item:not(:first-child) {
    margin-left: 50px;
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

.contact__link {
  @extend %align-list;
  @include font(500, 1.14, 14px, 0.02em);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;

  &:focus,
  &:hover {
    color: var(--main-focus-color);
  }
}
